.category-card {
  width: fit-content;
}

.headerss{
  font-size: 40px;
  color: #487eb0;
}

.textColor{
  color: #487eb0;
}

.bgColor{
  background-color: #487eb0;
}

.bgWhite{
  background-color: white;
}